<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FT2000toFT991_GUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FT2000toFT991_GUI.My.MySettings>
            <setting name="FT991Port" serializeAs="String">
                <value />
            </setting>
            <setting name="RMSPort" serializeAs="String">
                <value />
            </setting>
            <setting name="FT991Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="FT991RTS" serializeAs="String">
                <value />
            </setting>
            <setting name="RMSBaud" serializeAs="String">
                <value />
            </setting>
            <setting name="RMSRTS" serializeAs="String">
                <value />
            </setting>
        </FT2000toFT991_GUI.My.MySettings>
    </userSettings>
</configuration>